<!DOCTYPE html> 
<html ng-app>
<head>
	<title>Moneta</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="jquery.mobile/jquery.mobile-1.4.5.min.css" />
	<script src="jquery.mobile/jquery-2.2.4.min.js"></script>
	<script src="jquery.mobile/jquery.mobile-1.4.5.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-locale_pt-br.js"></script>
	<script src="controller/LancamentoController.js"></script>
</head>

<body>
	<div data-role="page" ng-controller="LancamentosController">
		<div data-role="header" data-add-back-btn="true">
			<h1>Editar Lançamento</h1>
		</div>
		<div role="main" class="ui-content">
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6a" value="on" checked="checked">
			    <label for="radio-choice-h-6a">Despesa</label>
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6b" value="off">
			    <label for="radio-choice-h-6b">Receita</label>
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6c" value="other">
			    <label for="radio-choice-h-6c">Transf.</label>
			</fieldset>
			<label>Conta</label>
			<input type="hidden" name="Id" value="0" />
			<select>
				<option value="">Andre</option>
				<option value="">Aline</option>
			</select>
			<label>Descrição</label>
			<input type="text" ng-model="Lancamento.Descricao" />
			<label>Valor</label>
			<input type="number" ng-model="Lancamento.Valor" min="0" step="0.01" />
			<label>Vencimento</label>
			<input type="date" ng-model="Lancamento.DataVencimento" value="">
			<button class="ui-btn ui-corner-all" data-ng-click="salvarLancamento(Lancamento)">Salvar</button>
		</div>
		<div data-role="footer">
			<h4>Moneta - Gestão Financeira Simplificada</h4>
		</div>
	</div>
	
</body>
</html>