<!DOCTYPE html> 
<html ng-app="Moneta">
<head>
	<title>Moneta</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="jquery.mobile/jquery.mobile-1.4.5.min.css" />
	<script src="jquery.mobile/jquery-2.2.4.min.js"></script>
	<script src="jquery.mobile/jquery.mobile-1.4.5.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-locale_pt-br.js"></script>
	<script src="controller/LancamentoController.js"></script>
</head>

<body ng-controller="LancamentosController">
	<div data-role="page" id="lancamentos">
		<div data-role="header" data-theme="a">
			<h1>Lançamentos</h1>
			<a data-icon="plus" class="ui-btn-right" ng-click="novoLancamento()">Novo</a>
		</div>
		<div role="main" class="ui-content">
			<table data-role="table" id="tableLancamentos" data-mode="reflow" class="ui-body-d ui-shadow table-stripe ui-responsive" data-filter="true">
			<thead>
				<tr>
					<th>Id</th>
					<th>Vencimento</th>
					<th>Descrição</th>
					<th>Categoria</th>
					<th>Valor</th>
					<th></th>
				</tr>
			</thead>
				<tbody ng-repeat="l in Lancamentos | orderBy:'DataVencimento' track by $index">
					<tr>
						<td>{{l.Id}}</td>
						<td>{{l.DataVencimento | date: "shortDate"}}</td>
						<td>{{l.Descricao}}</td>
						<td>{{l.Categoria}}</td>
						<td>{{l.Valor | currency}}</td>
						<td>
							<div class="ui-block-a">
								<a class="ui-shadow ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext ui-btn-inline" ng-click="editLancamento(l)">Editar</a>
								<a class="ui-shadow ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline" ng-click="deleteLancamento(l.Id)">Remover</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div data-role="footer">
			<h4>Moneta - Gestão Financeira Simplificada</h4>
		</div>
	</div>
	
	<div data-role="page" id="novo-lancamento">
		<div data-role="header" data-add-back-btn="true">
			<h1>Novo Lançamento</h1>
		</div>
		<div role="main" class="ui-content">
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6a" value="on" checked="checked">
			    <label for="radio-choice-h-6a">Despesa</label>
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6b" value="off">
			    <label for="radio-choice-h-6b">Receita</label>
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6c" value="other">
			    <label for="radio-choice-h-6c">Transf.</label>
			</fieldset>
			<label>Conta</label>
			<input type="hidden" name="Id" value="0" />
			<select ng-model="selectedConta" ng-options="x for x in Contas">
			</select>
			<label>Descrição</label>
			<input type="text" ng-model="Lancamento.Descricao" />
			<label>Valor</label>
			<input type="number" ng-model="Lancamento.Valor" min="0" step="0.01" />
			<label>Vencimento</label>
			<input type="date" ng-model="Lancamento.DataVencimento" value="">
			<button class="ui-btn ui-corner-all" data-ng-click="addLancamento(Lancamento)">Criar</button>
		</div>
		<div data-role="footer">
			<h4>Moneta - Gestão Financeira Simplificada</h4>
		</div>
	</div>
	
	<div data-role="page" id="edit-lancamento">
		<div data-role="header" data-add-back-btn="true">
			<h1>Editar Lançamento</h1>
		</div>
		<div role="main" class="ui-content">
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6a" value="on" checked="checked">
			    <label for="radio-choice-h-6a">Despesa</label>
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6b" value="off">
			    <label for="radio-choice-h-6b">Receita</label>
			    <input type="radio" name="radio-choice-h-6" id="radio-choice-h-6c" value="other">
			    <label for="radio-choice-h-6c">Transf.</label>
			</fieldset>
			<label>Id</label>
			<input type="text" ng-model="Lancamento.Id" />
			<label>Conta</label>
			<select ng-model="selectedConta" ng-options="x for x in Contas">
			</select>
			<label>Descrição</label>
			<input type="text" ng-model="Lancamento.Descricao" />
			<label>Valor</label>
			<input type="number" ng-model="Lancamento.Valor" min="0" step="0.01" />
			<label>Vencimento</label>
			<input type="date" ng-model="Lancamento.DataVencimento" value="">
			<button class="ui-btn ui-corner-all" data-ng-click="salvarLancamento(Lancamento)">Salvar</button>
		</div>
		<div data-role="footer">
			<h4>Moneta - Gestão Financeira Simplificada</h4>
		</div>
	</div>
	
</body>
</html>