@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <br /><br /><br />
    <div style="text-align:center">
        <h1>Oops!</h1>
        <img src="~/Content/images/emoji_sad.jpg" />
        <h2>Pedimos desculpas...</h2>
        <p>Um erro inesperado ocorreu e seu registro enviado para nosso <a href="mail:andre.tode@gmail.com">suporte</a></p>
    </div>
    <br /><br /><br />
</body>
</html>
