@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Permissão</title>
</head>
<body>
    <br /><br /><br />
    <div style="text-align:center">
        <h1>Oops!</h1>
        <img src="~/Content/images/unauthorize.png" />
        <h2>Permissão negada</h2>
        <p>Você está sem autorização para acessar esta página</p>
    </div>
    <br /><br /><br />
</body>
</html>
