@model Moneta.Application.ViewModels.GraficoSaldoViewModel
@using Moneta.Application.ViewModels

<div class="form-horizontal">
    @using (Html.BeginForm("GraficoSaldoDoMes", "Lancamentos", new { @Model }, FormMethod.Get, new { id = "formFiltros" }))
    {
        @Html.DropDownList("ContaIdFiltro", (SelectList)@ViewBag.Contas, "" , new { @class = "form-control" })
    }
</div>

<canvas id="myChart"></canvas>

@{
    string arrayDeDados = "";
    string arrayLabels = "";
    arrayDeDados = Model.SaldoPorDia.First().Saldo.ToString().Replace(',', '.');
    arrayLabels = Model.SaldoPorDia.First().Dia.ToString("dd");
    for (int i = 1; i < Model.SaldoPorDia.Count; i++)
    {
        arrayDeDados += "," + Model.SaldoPorDia[i].Saldo.ToString().Replace(',', '.');
        arrayLabels += "," + Model.SaldoPorDia[i].Dia.ToString("dd");
    }
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
        var arrayDeDadosRazor = '@arrayDeDados';
        console.log("arrayDeDadosRazor" + arrayDeDadosRazor);
        var arrayDeDadosJs = arrayDeDadosRazor.split(',');

        var arrayLabelsRazor = '@arrayLabels';
        console.log("arrayLabelsRazor" + arrayLabelsRazor);
        var arrayLabelsJs = arrayLabelsRazor.split(',');

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: arrayLabelsJs,
                datasets: [{
                    label: 'Saldo em R$',
                    data: arrayDeDadosJs,
                    backgroundColor: [
                        'rgba(102, 176, 255, 0.5)'
                    ],
                    borderColor: [
                        'rgba(102, 176, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Saldo por dia - ' + '@Model.SaldoPorDia.First().Dia.ToString("MMMM/yyyy")'
                }
            }
        });

        $(function () {
            $('#ContaIdFiltro').change(function () {
                $('#formFiltros').submit();
            });
        });
    </script>
}