@model List<Tuple<DateTime, decimal, decimal, decimal>>
@using Moneta.Application.ViewModels

<div class="form-horizontal">
    @using (Html.BeginForm("GraficoSaldoDoMes", "Lancamentos", new { @Model }, FormMethod.Get, new { id = "formFiltros" }))
    {
        @Html.DropDownList("ContaIdFiltro", (SelectList)@ViewBag.Contas, null, new { @class = "form-control" })
    }
</div>

<canvas id="myChart"></canvas>

@{
    string arrayDeDias = "";
    string arrayDeReceitas = "";
    string arrayDeDespesas = "";
    string arrayDeSaldos = "";
    
    if (Model != null)
    {
        arrayDeDias = Model.First().Item1.ToString("dd");
        arrayDeReceitas = Model.First().Item2.ToString().Replace(',', '.');
        arrayDeDespesas = Model.First().Item3.ToString().Replace(',', '.');
        arrayDeSaldos = Model.First().Item4.ToString().Replace(',', '.');
        
        for (int i = 1; i < Model.Count; i++)
        {
            arrayDeDias += "," + Model[i].Item1.ToString("dd");
            arrayDeReceitas += "," + Model[i].Item2.ToString().Replace(',', '.');
            arrayDeDespesas += "," + Model[i].Item3.ToString().Replace(',', '.');
            arrayDeSaldos += "," + Model[i].Item4.ToString().Replace(',', '.');
        }
    }
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
        var arrayDeDiasRazor = '@arrayDeDias';
        var arrayDeDiasJs = arrayDeDiasRazor.split(',');

        var arrayDeReceitasRazor = '@arrayDeReceitas';
        var arrayDeReceitasJs = arrayDeReceitasRazor.split(',');

        var arrayDeDespesasRazor = '@arrayDeDespesas';
        var arrayDeDespesasJs = arrayDeDespesasRazor.split(',');

        var arrayDeSaldosRazor = '@arrayDeSaldos';
        var arrayDeSaldosJs = arrayDeSaldosRazor.split(',');

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: arrayDeDiasJs,
                datasets: [
                {
                    label: 'Receita',
                    data: arrayDeReceitasJs,
                    backgroundColor: [
                        'rgba(0, 153, 13, 0.2)'
                    ],
                    borderColor: [
                        'rgba(0, 153, 135, 1)'
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Despesa',
                    data: arrayDeDespesasJs,
                    backgroundColor: [
                        'rgba(219, 0, 0, 0.2)'
                    ],
                    borderColor: [
                        'rgba(219, 0, 0, 1)'
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Saldo',
                    data: arrayDeSaldosJs,
                    backgroundColor: [
                        'rgba(102, 176, 255, 0.7)'
                    ],
                    borderColor: [
                        'rgba(102, 176, 255, 1)'
                    ],
                    borderWidth: 1
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Saldo por dia'
                }
            }
        });

        $(function () {
            $('#ContaIdFiltro').change(function () {
                $('#formFiltros').submit();
            });
        });
    </script>
}